/* Tokens */
.ola-answer-slots {
  padding: 0.5rem 0 1em 0;
  font-size: 0.875rem;
}

/* Token */
.ola-btn-slot-add {
  &, &:hover, &:focus, &:active {
    background: darken($input-tag-bg, 10%);
    padding: 10px 12px;    
    border-radius: $base-border-radius;
    margin: 6px 6px 0 0;
    color: #666;
    padding-right: 30px;
    position: relative;
    border: none;
  }

  .ola-icon {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.5rem;
    bottom: 0;
    vertical-align: middle;
    font-size: 20px;
    width: 30px;
    text-align: center;
  }
}

/* Answer token text */
.ola-answer-slots-text {
  display: block;
  @include media (tablet) {
    display: inline;
    margin-right: 6px;
  }
}