/**
 * Answer card item
 */

.ola-answer-cards {
  
}

  /**
   * Wrapper
   */
  .ola-answer-card-wrapper,
  .ola-answer-wordmap {
    padding: 1em;
    background: white;
    box-shadow: $sharp-box-shadow;
    border-radius: 5px;
  }

  /**
   * Title
   */
  .ola-answer-title {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
  }

  /**
   * Subtitle
   */
  .ola-answer-subtitle {
    margin: 4px 0 0 0;
  }

  /**
   * Image
   */
  .ola-img-card {
    max-height: 300px;
    margin-top: 8px;
    display: block;
  }

  /**
   * Button wrapper
   */
  .ola-answer-buttons {
    padding-top: 14px;
  }

  /**
   * Button
   */
  .ola-answer-button {
    @extend .ola-btn-primary;
    width: 100%;
    margin: 0 0 14px 0;
    @include media (desktop) {
      margin: 0 14px 0 0;
      width: auto;
    }
  }

/**
 * Answer list
 */
.ola-answer-list-items {
  display: flex;
  flex-wrap: wrap;

  > .ola-answer-card {
    width: 33.333%;
    padding: 8px 16px 8px 0;
  }
}

/**
 * Source and footnote
 */
.ola-answer-source,
.ola-answer-footnote {
  font-size: 14px;  
  padding-top: 14px;
}

  /**
   * Source link
   */
  .ola-answer-source-link {
    text-decoration: underline;
  }


/**
 * Fields
 */
.ola-answer-field {
}
  /**
   * Label
   */
  .ola-answer-field-label {
    font-weight: bold;
    padding-top: 8px;
  }
  /**
   * Value
   */
  .ola-answer-field-value {
    @extend %nobreak;
  }

/**
 * Table
 */
.ola-answer-table {
  background-color: white;
  border-top: none;
  margin: 0 0 16px 0;
  width: 100%;
  border-collapse: collapse;

  th, td {
    padding: 8px;
    text-align: left;
  }

  th {
    font-weight: bold;
    border-bottom: 2px #ddd solid;
  }

  td {
    border-bottom: 1px solid #ddd;
  }
}

/**
 * Linechart
 */
.ola-answer-linechart {
  height: 300px;
  margin: 1em;
}


/**
 * Google map
 */
.ola-answer-gmap {
  height: 300px;
}

