/* Tokens */
.ola-answer-slots {
  padding-top: 8px;
  // padding: 0.5rem 0;
}

/* Token */
.ola-btn-slot-add {
  &, &:hover, &:focus, &:active {
    background: darken($input-tag-bg, 10%);
    padding: 10px 12px;    
    border-radius: $base-border-radius;
    margin: 6px 6px 0 0;
    color: #666;
    padding-right: 30px;
    position: relative;
    border: none;
  }

  .ola-icon {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
    bottom: 0;
    vertical-align: middle;
    width: 30px;
    text-align: center;
  }
}

/* Answer token text */
.ola-answer-slots-text {
  display: block;
  @include media (tablet) {
    display: inline-block;
    margin-right: 6px;
    vertical-align: middle;
    margin-top: 6px;
  }
}

/**
 * Answer title
 */
.ola-answer-title {
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 0;
  color: #333;
  background-color: #03ade0;
}

.ola-answer-subtitle {
  font-size: 14px;
  opacity: 0.8;
}

.ola-answer-table-wrapper, .ola-answer-description {
  overflow: auto;
  background-color: white;
  padding: 1em;
}
.ola-answer-table {
  background-color: white;
  border-top: none;
  margin: 0;
}

.ola-answer-description {
  font-size: 20px;
  color: #666;
}



.ola-answer-table-caption, .ola-answer-title {
  background-color: #03ade0;
  color: white;
  padding: 0.8em 1em;
  margin: 0;
  border-bottom: 2px solid #666;
}

.ola-answer-item {
  padding-bottom: 1.5em;
}

/* Table wrapper */
.ola-answer-table-detail {
  padding: 1rem;
}

/* Footnote */
.ola-answer-footnote {
  font-size: 12px;
  padding: 1rem 0 0 0;
}

/**
 * Source
 */

.ola-answer-source {
  font-size: 12px;
  max-width: 70%;
  padding: 1em 0;
  > a {
    text-decoration: underline;
  }
}

/**
 * Button
 */

.ola-answer-link-more {
  background: #002569;
  color: white;
  text-transform: none;
  border: none;
  padding: 0.8rem 1rem;
  font-size: 16px;
  margin: 0;
  min-width: 120px;
  text-align: center;
  margin-bottom: 1em;
}


/**
 * List answer
 * Remove shadow from .ola-answer
 */

.ola-answer-template-list {
  box-shadow: none;
}

  /**
   * List
   */
  .ola-answer-list-items {
    display: flex;
    flex-wrap: wrap;

    .ola-answer-item {
      width: 33.333%;
    }

    .ola-answer-item-wrapper {
      box-shadow: $small-box-shadow;
      margin-right: 1em;
      min-height: 100%;
      padding: 1em;
    }
  }  



/**
 * Rows
 */

.ola-answer-row {
  @include flexbox;
  padding: 2px 0;
  font-size: 14px;
  -ms-word-break: break-all;
   word-break: break-all;

   /* Non standard for WebKit */
   word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
      hyphens: auto;
}
  .ola-answer-keyvalue {
    padding: 1em 0;
  }

  .ola-answer-label {
    font-weight: 500;
    min-width: 120px;
    &:after {
      content: ": "
    }
  }

