/* Default button */
.ola-btn {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  font-weight: normal;
  background: transparent;
  min-height: unset;

  &:disabled{
    opacity: 0.6;
    cursor: text;
  }
}

/* Primary button */
.ola-btn-primary {
  &, &:hover, &:active, &:focus {
    background: $button-primary-background;
    color: $button-primary-color;
    padding: $button-padding;
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: $button-border-radius;
  }
}

/* Primary button */

/* Common button styles */
.ola-icon-button {
  @extend %ola-icon-button;  
}

/**
 * Buttons that behave like links
 */
.ola-btn-link {
  @extend %ola-link;
}

/* Search button */
.ola-search-button {
  @extend %ola-icon-button;
  color: $button-primary-color;
  width: $button-search-width;

  // &, &:hover, &:active, &:focus {
  //   background: $button-primary-background;
  // }
}

/* Primary button */
.ola-primary-button {
  color: $button-primary-color;

  &, &:hover, &:active, &:focus {
    background: $button-primary-background;
  }
}

/* Geo location icon */
.ola-link-geo {
  @extend %ola-link;
  min-width: 40px;

  /* Icon */
  .ola-icon {
    vertical-align: middle;
  }

  /* Disabled */
  &:disabled {
    opacity: 0.6;
    cursor: text;
  }

  &.ola-link-geo-active {
    color: $button-geo-active-color;
  }

  &.ola-link-geo-requesting {
    opacity: 0.5;
  }
}

/* Geo text */
.ola-link-geo-text {
  margin-left: 8px;
}

/* bookmarking */
.ola-link-bookmark, .ola-link-bookmark-action {
  @extend %ola-icon-button;
  height: 100%; /* Its inside a flex box */
  float: right;

  &:before {
  }

  .ola-bookmarks-hasBookmarks  &, &.action-remove {
    &:before {
    }
  }

  /* Hide text */
  span {
    display: none;
  }
}

/* Clear button */
.ola-clear-button {
  @extend %ola-icon-button;
}

/* Load more */

.ola-link-load-more {
  @extend %ola-icon-button;
  @extend .ola-primary-button;
  width: 100%;
  padding: 0.8rem 1rem;
  margin-top: 1rem;
  box-shadow: $small-box-shadow;
  border: none;

  .ola-icon {
    vertical-align: middle;
    margin-left: 0.5rem;
  }
}


/* Spell links */
.ola-spell-links {
  @extend %ola-icon-button;
  margin-left: 0.5rem;
}


/* Hint */
/**
 * Hint
 */

 .ola-btn-hint{
	// position: absolute;
	// top: 0;
	// right:0;
	// left: 0;
	// bottom: 0;
	// z-index: 1;
}


/* regular button */
.ola-icon-btn {
  @extend %ola-icon-button;
}

/* Ola cta button */
.ola-cta-button {
  @extend .ola-btn-primary;
  width: 100%;
  @include media (tablet) {
    width: auto;
  }
}

/* Full width */
.ola-btn-fullwidth {
  width: 100%;
  text-align: center;
}

/* Pages */
.ola-link-view-pages, .ola-page-number {
  cursor: pointer;
}


/**
 * Close button
 */
.ola-btn-close {
  position: absolute;
  right: 8px;
  top: 8px;

  &, &:hover {
    background: none;
  }
}