/**
 * Content Editable
 */
.ContentEditableWrapper {
  position: relative;
  width: 100%;
  z-index: 2;
}
.ContentEditableWrapper .ola-text-input {
  position: relative;
  z-index: 1;
  font-family: inherit;
  border: none;
  background-color: transparent;
  &:focus {
    outline: none;
    border: none;
  }
}

.ContentEditable-Fake {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: transparent;
  background: transparent;
  white-space: pre;
  color: transparent;
  padding: 10px;
  line-height: normal;
  font-size: $autocomplete-font-size;
  display: none;
  // font-family: $base-font-family;

  @include media (desktop) {
    display: block;
  }
}