/* ios fix where label was not clickable */
.ola-search label > * { pointer-events:none; }

/* Facet */
.ola-facet {
  border: 1px solid #ddd;
  margin-bottom: 16px;
  border-top: 2px solid #666;
  padding: 0;
}

/* Title */
.ola-facet-title {
  user-select: none;
  font-weight: normal;

  &, &:first-child {
    margin: 0;
    border-bottom: 1px #e5e5e5 solid;
    padding: 12px 1rem;
    line-height: 1;
    color: $base-color;
    cursor: pointer;
    position: relative;
  }

  .ola-icon {
    position: absolute;
    right: 1rem;
    top: 0.5rem; 
  }
}

/* Body */
.ola-facet-wrapper {
  padding: 1rem;
}

/* Colapse */
.ola-facet-collapsed {
  .ola-facet-wrapper {
    @extend .ola-js-hide;
  }
}


/**
 * Link
 */

.ola-facet-link {
  color: $link-color;
  border: none;
}

/**
 * Show more
 */

.ola-link-show-more {
  padding: 5px 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background: none;
  display: block;
}

  .ola-link-show-less {
    &:before {
      // content: "\f147";
    }
  }


/**
 * Datepicker
 */

.ola-date-custom {
  padding-top: 8px;
}

.ola-date-list {
  padding: 0;
  list-style: none;
  margin: 0;
}
  .ola-btn-date-select{
    background: none;
    color: #002569;
    display: block;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 4px 0;
    clear: both;
    margin: 0;
    line-height: 1.2;
    @include prefix(display, flex, webkit ms moz);
  }

  .ola-date-custom-label {
    padding-bottom: 4px;
  }

  .ola-date-custom-input {
    @include prefix(display, flex, webkit ms moz);
    font-size: 14px;
    .ola-label-date {
      @include prefix(flex, 1, webkit ms moz);
      margin-right: 16px;
      span {
        display: block;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    input {
      width: 100%;
    }
  }


  /**
   * Facet
   */
  .ola-facet-scroll-list {
    max-height: none;
    // overflow: auto;
  }


  /**
   * facet wrapper
   */
  .ola-btn-wrap {
    @include prefix(display, flex, webkit ms moz);
    @include prefix(align-items, center, webkit ms moz);

    .ola-facet-link {
      @include prefix(flex, 1, webkit ms moz);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: auto;
      text-align: left;
      background: none;
      display: block;
      line-height: 1.4;
      padding: $facet-padding;
      min-height: unset;
    }
  }

  /* Facet count */
  .ola-search-facet-count {
    font-size: 14px;
    color: $base-grey-color;
    min-width: 40px;
    text-align: right;
  }


/**
 * reset filters
 */

.ola-reset-filters {
  background: none;
  padding: 0;
  border: none;
  margin-left: 8px;
  color: #002569;
}

/* Facet filter */
.ola-facet-filter-input {
  &, &[type="text"] {
    padding: 6px 10px;
    margin-bottom: 0.5rem;
    font-size: $base-font-size;
  }
}