/**
 * Date fix zoom for safari
 */

.ola-search {
  input[type='date'] {
    font-size: 16px;
  }
}

/* Text input */
.ola-text-input {
  &, &[type="text"] {
    padding: 10px;
    font-size: $base-font-size;
    @include media (desktop) {
      font-size: $autocomplete-font-size;
    }
    width: 100%;
    line-height: normal;
    margin: 0;
  }
}

/* Check box */
.ola-checkbox {
  display: flex;
  line-height: 1.4;
  align-items: center;
  padding: $facet-padding;
  margin: 0;
  font-weight: normal;
  cursor: pointer;

  input {
    margin: 3px 0 0 0;
    appearance: checkbox;
  }

  .ola-search-facet-name {
    padding-left: 5px;
  }
}

  .ola-search-facet-name {
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }