.ola-search-heading-container {
  border-bottom: 2px solid #e5e5e5;
  padding: 0rem 0 1rem 0;
  margin: 0 0 1rem 0;
  min-height: $button-default-height + 20px;
  display: flex;
  align-items: flex-end;

  @include media (tablet) {
    padding-top: 0;
    min-height: 0;
  }
}

/* Location */
.ola-location-notify {
  padding-top: 0.5rem;
  font-size: 16px;

  .ola-link-geo {
    font-size: 16px;
    margin-left: 1rem;
    vertical-align: baseline;
  }
}