.ola-search-header {
  border-bottom: 2px solid #e5e5e5;
  display: flex;
  align-items: flex-start;
  padding: 0 0 1rem 0;
  margin: 0 0 1rem 0;
}

.ola-search-heading-number {
  font-size: 1rem;
}

.ola-search-heading-container {  
  padding: 0 0 0 0;  
  display: flex;
  flex: 1;
  align-items: flex-end;

  @include media (tablet) {
    padding-top: 0;
    min-height: 0;
  }
}

/* Location */
.ola-location-notify {
  padding-top: 0.5rem;
  font-size: 16px;

  .ola-link-geo {
    font-size: 16px;
    margin-left: 1rem;
    vertical-align: baseline;
  }
}