/* Container */
.ola-results-flex {
  display: flex;
  padding-top: 1em;

  @include media (tablet) {
    padding-top: 1.5rem;
  }
}

  /* Results container */
  .ola-results-container {
    flex: 1;
    min-width: 0;
  }
