.ola-pagination{
  padding: 2rem 0;
  display: flex;
}

  .ola-page{
    @extend %ola-icon-button;
    min-width: 0;
    padding: 5px 10px;
    vertical-align: top;
    text-decoration: none;
    vertical-align: middle;
    display: none;
    background: none;
    border: 1px $base-border-color solid;
    cursor: pointer;
    color: $base-color;
    margin-right: -1px;
    position: relative;
    border-radius: 0;  
    height: $pagination-button-height;
    min-width: $pagination-button-width;
    text-align: center;

    @include media(tablet){
      display: block;
    }

    &:hover {
      background: #eee;
    }

    &[disabled] {
      opacity: 0.6;
    }

    &.ola-page-current {
      font-weight: bold;
      background-color: #eee;
      opacity: 1;
    }

    /* Icon */
    .ola-icon {
      vertical-align: middle;
      margin-right: 0.25rem;
    }
  }

  .ola-page-ellipsis{
    cursor: text;
    margin-left: 1px;
    border: none;
  }

  /**
   * Previous
   */

  .ola-page-previous{
    margin-right: 1em;
  }

  .ola-page-next{
    margin-left: 1em;
    .ola-icon {
      margin-right: 0;
      margin-left: 0.25rem;  
    }
  }


/**
 * Per page
 */
.ola-per-page {
  font-size: 14px;
}

  .ola-per-page-label {
    margin-right: 8px;
  }