.ola-btn-pill {
  &, &:hover, &:active, &:focus {
    border-radius: $pill-border-radius;
    background: $pill-background;
    border: none;
    padding: $pill-padding;
    color: $pill-color;
    display: inline-flex;
    margin: 0 4px 4px 0;
    line-height: normal;
  }
}

/**
 * Pill fields
 */
.ola-field-pill {
  display: flex;
  flex-wrap: wrap;

  .ola-field {
    padding: 0;
  }
}