.ola-btn-pill {
  border-radius: $pill-border-radius;
  background: $pill-background;
  padding: $pill-padding;
  color: $pill-color;
  display: inline-block;
  margin-right: 0.5rem;
  font-size: $pill-font-size;
}