/**
 * Sort
 */
.ola-sort {
  float: right;
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-bottom: 8px;
  font-size: 14px;
  display: none;

  @include media (tablet) {
    display: flex;
  }
}
