/**
 * Answer card item
 */

.ola-answer-cards {
  
}

  /**
   * Wraapper
   */
  .ola-answer-card-wrapper {
    padding: 1em;
    box-shadow: $small-box-shadow;
    border-radius: 5px;
  }

  /**
   * Title
   */
  .ola-answer-title {
    margin: 0 0 8px 0;
  }

/**
 * Answer list
 */
.ola-answer-list-items {
  display: flex;

  > .ola-answer-card {
    width: 33.333%;
  }
}

/**
 * Source and footnote
 */
.ola-answer-source,
.ola-answer-footnote {
  font-size: 14px;  
}

  /**
   * Source link
   */
  .ola-answer-source-link {
    text-decoration: underline;
  }


/**
 * Fields
 */
.ola-answer-field {
}
  /**
   * Label
   */
  .ola-answer-field-label {
    font-weight: bold;
    padding-top: 8px;
  }
  /**
   * Value
   */
  .ola-answer-field-value {
    @extend %nobreak;
  }

/**
 * Table
 */
.ola-answer-table {
  background-color: white;
  border-top: none;
  margin: 0 0 16px 0;
  width: 100%;
  border-collapse: collapse;

  th, td {
    padding: 8px;
    text-align: left;
  }

  th {
    font-weight: bold;
    border-bottom: 2px #ddd solid;
  }

  td {
    border-bottom: 1px solid #ddd;
  }
}

/**
 * Linechart
 */
.ola-answer-linechart {
  height: 300px;
  margin: 1em;
}


/**
 * Google map
 */
.ola-answer-gmap {
  height: 300px;
}


/* Tokens */
.ola-answer-slots {
  padding-top: 8px;
  // padding: 0.5rem 0;
}

/* Token */
.ola-btn-slot-add {
  &, &:hover, &:focus, &:active {
    background: darken($input-tag-bg, 10%);
    padding: 10px 12px;    
    border-radius: $base-border-radius;
    margin: 6px 6px 0 0;
    color: #666;
    padding-right: 30px;
    position: relative;
    border: none;
  }

  .ola-icon {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
    bottom: 0;
    vertical-align: middle;
    width: 30px;
    text-align: center;
  }
}

/* Answer token text */
.ola-answer-slots-text {
  display: block;
  @include media (tablet) {
    display: inline-block;
    margin-right: 6px;
    vertical-align: middle;
    margin-top: 6px;
  }
}