.ola-swipeable {
  position: relative;
}

.ola-swipeable-flow {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  transform: translate3d(0,0,0);
  position: relative;
}

.ola-swipeable-flow::-webkit-scrollbar {
  display: none;
  background-color: transparent;
}

  .ola-swipeable-row {
    display: inline-flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
  }

  .ola-swipeable-item {
    flex: 1 1;
    padding: 8px 16px 8px 0;
  }

  /**
   * Innner
   */
  .ola-swipeable-item-inner {
    // overflow: hidden;
    height: 100%;

    img {
      max-width: 100%;
    }
  }

/**
 * Hide next prev in mobile
 */
.ola-swipeable-prev,
.ola-swipeable-next {
  display: none;
  @extend %ola-icon-button;
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -22px;
  bottom: 0;
  width: 45px;
  height: 45px;
  color: white;  
  border-radius: 50%;
  opacity: 0;
  z-index: 1;

  .ola-swipeable:hover & {
    opacity: 1;
  }

  &, &:focus {
    outline: none;
  }

  &:focus, &:active, &:hover {
    background: rgba(0,0,0,0.5);
    color: white;
  }

  @include media (desktop) {
    display: block;
  }
}

  /**
   * Previos
   */
  .ola-swipeable-prev {
    left: 8px;
    right: auto;
  }

/**
 * Show button
 */
.ola-swipeable-button {
  @extend .ola-btn;
  text-align: center;
  width: 60px;  

  .ola-icon {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    box-shadow: $small-box-shadow;
    background: white;
  }  
}

.ola-swipeable-button-text {
  display: block;
  padding-top: 8px;
  font-size: 12px;
}

.ola-swipeable-show {
  display: flex;
  align-items: center;
}


/**
 * Answer list
 */
.ola-answer-list-swipe .ola-answer-list-items{
  display: block;
}