.ola-facet-tags {
  @include flexbox;
  padding-left: 0;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  /**
   * swipe
   */
  .ola-swipeable-item {
    padding: 8px 8px 0 0;
  }
}

.ola-facet-tags-group {
  @include flexbox;
  -ms-flex-pack: center;
  background-color: #ebebeb;
  color: #666;
  // margin-right: 8px;
  padding: 10px 12px;
  position: relative;
  padding-right: 36px;
  // margin-top: 8px;
  line-height: 1.2;
  border-radius: 2px;
  white-space: nowrap;

  .ola-facet-tag {
    background: transparent;
    padding: 0;
    margin: 0;
    font-size: 14px;
    position: static;    
  }
}

  .ola-facet-tags-heading {
    font-size: 14px;

    &:after {
      content: ":";
      padding-right: 5px;
    }
  }

/* Single tag */
.ola-facet-tag {
  position: relative;
}

/**
 * Remove link
 */

.ola-facet-tag-remove{
  @extend .ola-btn;
	color: $base-color;
  min-width: 30px;
	text-align: center;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0;
	border-radius: 0 3px 3px 0;
	border: none;
	background: transparent;
	overflow: hidden;
  min-height: unset;

	span {
    display: none;
  }

  .ola-icon {
    vertical-align: middle;
  }

  &:hover {
    background-color: $base-grey-color;
    color: white;
  }
}

/**
 * tags Inside filters
 */
.ola-facet-tags-selected {
  .ola-facet-tag-remove {
      position: static;
  }
}

/* Input tag */
.ola-input-tag {
  padding: 2px 2px;
  cursor: pointer;
  border-radius: 2px;
  background: #c0e2f8;
  margin: 0 -2px;
}


  /* All tags */
  .ola-input-tag {
    // background: $input-tag-bg;
    background: darken($input-tag-bg, 10%);
  }

  .ola-facet-tags-group {
    background: #eee;
  }

/* Tokens */
.ola-answer-slots {
  padding-top: 8px;
  // padding: 0.5rem 0;
}

/* Token */
.ola-btn-slot-add {
  &, &:hover, &:focus, &:active {
    background: darken(#eef7fd, 10%);
    padding: 10px 12px;    
    border-radius: $base-border-radius;
    margin: 6px 6px 0 0;
    color: #666;
    padding-right: 30px;
    position: relative;
    border: none;
  }

  .ola-icon {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
    bottom: 0;
    vertical-align: middle;
    width: 30px;
    text-align: center;
  }
}

/* Answer token text */
.ola-answer-slots-text {
  display: block;
  @include media (tablet) {
    display: inline-block;
    margin-right: 6px;
    vertical-align: middle;
    margin-top: 6px;
  }
}