.ola-facet-tags {
  @include flexbox;
  padding-left: 0;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ola-facet-tags-group {
  @include flexbox;
  -ms-flex-pack: center;
  background-color: #ebebeb;
  color: #666;
  margin-right: 8px;
  padding: 10px 12px;
  position: relative;
  padding-right: 36px;
  margin-top: 8px;
  line-height: 1.2;
  border-radius: 2px;

  .ola-facet-tag {
    background: transparent;
    padding: 0;
    margin: 0;
    font-size: 14px;
    position: static;
  }
}

  .ola-facet-tags-heading {
    font-size: 14px;

    &:after {
      content: ":";
      padding-right: 5px;
    }
  }

/* Single tag */
.ola-facet-tag {
  position: relative;
}

/**
 * Remove link
 */

.ola-facet-tag-remove{
	color: $base-color;
  min-width: 30px;
	text-align: center;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0;
	border-radius: 0 3px 3px 0;
	border: none;
	background: transparent;
	overflow: hidden;
  min-height: unset;

	span {
    display: none;
  }

  .ola-icon {
    vertical-align: middle;
  }

  &:hover {
    background-color: $base-grey-color;
    color: white;
  }
}

/**
 * tags Inside filters
 */
.ola-facet-tags-selected {
  .ola-facet-tag-remove {
      position: static;
  }
}

/* Input tag */
.ola-input-tag {
  padding: 2px 2px;
  cursor: pointer;
  border-radius: 3px;
  background: #c0e2f8;
  margin: 0 -2px;
}


  /* All tags */
  .ola-input-tag {
    // background: $input-tag-bg;
    background: darken($input-tag-bg, 10%);
  }

  .ola-facet-tags-group {
    background: #eee;
  }