$base-color: #333 !default;
$base-font-size: 16px !default;
$base-font-family:  'Lato', 'Open Sans', sans-serif !default;
$base-line-height: 1.5 !default;
$base-border-color: #ddd !default;
$base-box-shadow: 0 2px 4px rgba(0,0,0,0.2) !default;
$base-grey-color: #888 !default;
$base-border-radius: 3px !default;
$small-box-shadow: 0 0px 3px 0 rgba(0,0,0,.3) !default;
$sharp-box-shadow: 0 0 3px 1px rgba(0,0,0,.3) !default;

$modal-overlay-zindex: 5 !default;
// $chatbot-zindex: 9999 !default;

/* Brand */
$brand-color: #3F51B5 !default;

/* Progress bar */
$progress-bar-color: #f86936 !default;

/* Links */
$link-color: #3F51B5 !default;
$link-hover-color: #1A237E !default;

/* Primary button */
$button-primary-background: #3F51B5 !default;
$button-primary-color: white !default;
$button-padding: 10px 24px !default;
$button-border-radius: 5px !default;

/* Icon button default width */
$button-icon-width: 45px !default;

/* Search button */
$button-search-width: 40px !default;
$button-default-height: 40px !default;

/* Geo button */
$button-geo-active-color: #F44336 !default;

/* Settings */
$is_link_underlined: false !default;

/* Autocomplete */
$autocomplete-box-shadow: $base-box-shadow !default;
$autocomplete-border-color: #ccc !default;
$autocomplete-font-size: 18px !default;

/* Facet */
$facet-padding: 4px 0 !default;

/* Pagination */
$pagination-button-width: 40px !default;
$pagination-button-height: 40px !default;

/* Tag background */
$input-tag-bg: #eef7fd !default;

/* Colors */
$color-highlight: #ffc !default;

/* Fields */
$field-title-font-size: 1.25rem !default;
$field-title-bottom-padding: 0.5rem !default;
$field-bottom-padding: 1rem !default;

/* Heading*/
$search-heading-font-size: 20px !default;

/* Elevation */
$elevation-0: 0 0 0 1px rgba(16, 22, 26, 0.15),
0 0 0 rgba(16, 22, 26, 0),
0 0 0 rgba(16, 22, 26, 0) !default;
$elevation-1: 0 0 0 1px rgba(16, 22, 26, 0.1),
0 0 0 rgba(16, 22, 26, 0),
0 1px 1px rgba(16, 22, 26, 0.2) !default;
$elevation-2: 0 0 0 1px rgba(16, 22, 26, 0.1),
0 1px 1px rgba(16, 22, 26, 0.2),
0 2px 6px rgba(16, 22, 26, 0.2) !default;
$elevation-3: 0 0 0 1px rgba(16, 22, 26, 0.1),
0 2px 4px rgba(16, 22, 26, 0.2),
0 8px 24px rgba(16, 22, 26, 0.2) !default;
$elevation-4: 0 0 0 1px rgba(16, 22, 26, 0.1),
0 4px 8px rgba(16, 22, 26, 0.2),
0 18px 46px 6px rgba(16, 22, 26, 0.2) !default;
$snippet-shadow: 0 1px 3px rgba(0,0,0,0.3) !default;

/* Pill */
$pill-border-radius: 0px !default;
$pill-padding: 0.5rem 1rem !default;
$pill-background: #eee !default;
$pill-color: $base-color !default;
$pill-font-size: 0.875rem !default;