/* Change view button */
.ola-link-change-layout {
  @extend %ola-icon-button;
  margin-left: 5px;
  border: 1px $base-grey-color solid;
  display: none;
  height: auto;
  @include media (tablet) {
    display: block;
  }

  span {
    display: none;
  }

  &{
    color: $brand-color;
  }
}
