.ola-search {
  // font-size: $base-font-size;
  // font-family: $base-font-family;  

  /* Remove underline from links */
  @if $is_link_underlined == true {
    a {
      text-decoration: underline;
    }
  } @else {
    // Default if it’s neither
    a {
      text-decoration: none;
    }
  }

  // p {
  //   margin:0 0 1rem 0;
  // }
}

body {
  padding: 3rem;
  // margin: 0;
}