/* Common button styles */
.ola-icon-button {
  @extend %ola-button;
}

/* Search button */
.ola-search-button {
  @extend %ola-button;
  color: $button-primary-color;
  width: $button-search-width;

  &, &:hover, &:active, &:hover {
    background: $button-primary-background;
  }

  &:before {
    @extend .iconfont;
    content: 'search';
  }
}

/* Geo location icon */
.ola-link-geo {
  @extend %ola-button;

  &:before {
    @extend .iconfont;
    content: 'my_location';
  }

  &.ola-link-geo-active {
    color: $button-geo-active-color;
  }
}

/* bookmarking */
.ola-link-bookmark, .ola-link-bookmark-action {
  @extend %ola-button;
  height: 100%; /* Its inside a flex box */

  &:before {
    @extend .iconfont;
    content: 'bookmark_border';
  }

  .ola-bookmarks-hasBookmarks  &, &.action-remove {
    &:before {
      content: 'bookmark';
    }
  }

  /* Hide text */
  span {
    display: none;
  }
}

/* Clear button */
.ola-clear-button {
  @extend %ola-button;

  &:before {
    @extend .iconfont;
    content: 'close';
  }  
}

/* Load more */

.ola-link-load-more {
  @extend %ola-button;
  width: 100%;
  border: 1px $base-border-color solid;
  padding: 0.8rem 1rem;
}


/* Spell links */
.ola-spell-links {
  @extend %ola-button;
  color: $link-color;
  margin-left: 0.5rem;
  font-weight: bold;
}


/* Hint */
/**
 * Hint
 */

 .ola-btn-hint{
	position: absolute;
	top: 0;
	right:0;
	left: 0;
	bottom: 0;
	z-index: 1;
}


/* regular button */
.ola-btn {
  @extend %ola-button;
}