/**
 * Date fix zoom for safari
 */

.ola-search {
  input[type='date'] {
    font-size: 16px;
  }
}

/* Text input */
.ola-text-input {
  padding: 10px 10px;
  font-size: $base-font-size;
  width: 100%;
}