/* Container */
.ola-results-flex {
  display: flex;

  @include media (tablet) {
    padding-top: 1rem;
  }
}

  /* Results container */
  .ola-results-container {
    flex: 1;
    padding-top: 0.5rem;
  }
