.ola-modal-background{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 10;
  transition: all 0.2s ease-in;
  visibility: visible;
  opacity: 1;

  @include media (desktop) {
    visibility: hidden;
    opacity: 0;
  }

  &.ola-modal-hide{
    transition: all 0.2s ease-in;
    visibility: hidden;
    opacity: 0;
  }
}

/* Modal close */
.ola-modal-close {
  @extend %ola-icon-button;
  position: absolute;
  right: 0;
  top: 0;
  &, &:hover {
    background: #eee;
  }
  cursor: pointer;
  height: 40px;
  &:before {
    @extend .iconfont;
    content: 'close';
  }
}