.ola-pagination{
  padding: 2em 0;
}

  .ola-page{
    display: inline-block;
    padding: 5px 10px;
    vertical-align: top;
    text-decoration: none;
    vertical-align: middle;
    display: none;
    background: none;
    border: 1px #eee solid;
    cursor: pointer;
    margin-right: -1px;
    border-radius: 0;    

    @include media(tablet){
      display: inline-block;
    }
  }

  .ola-page-ellipsis{
    cursor: text;
    border: none;
  }

  /**
   * Current page
   */

  .ola-page-current{
    font-weight: bold;
    background-color: #eee;
  }

  /**
   * Previous
   */

  .ola-page-previous{
    display: inline-block;
    &:before{
      // @extend .fontawesome;
      // content: "\f053";
      margin-right: 0.5em;
      margin-top: -2px;
      vertical-align: middle;
    }
    margin-right: 1em;
  }

  .ola-page-next{
    float: right;
    margin-left: 1em;
    display: inline-block;
    @include media(tablet){
      float: none;
    }
    &:after{
      // @extend .fontawesome;
      // content: "\f054";
      margin-left: 0.5em;
      margin-top: -2px;
      vertical-align: middle;
    }
  }


/* Disable */

.ola-page-disabled{
  opacity: 0.1;
}