.ola-pagination{
  padding: 2em 0;
  display: flex;
}

  .ola-page{
    @extend %ola-button;
    min-width: 0;
    padding: 5px 10px;
    vertical-align: top;
    text-decoration: none;
    vertical-align: middle;
    display: none;
    background: none;
    border: 1px $base-border-color solid;
    cursor: pointer;
    color: $base-color;
    margin-right: -1px;
    border-radius: 0;  
    height: $pagination-button-height;
    min-width: $pagination-button-width;
    text-align: center;

    @include media(tablet){
      display: block;
    }

    &:hover {
      background: #eee;
    }

    &[disabled] {
      opacity: 0.6;
    }

    &.ola-page-current {
      font-weight: bold;
      background-color: #eee;
      opacity: 1;
    }
  }

  .ola-page-ellipsis{
    cursor: text;
    border: none;
  }

  /**
   * Previous
   */

  .ola-page-previous{
    margin-right: 1em;
    &:before{
      @extend .iconfont;
      content: "navigate_before";
      vertical-align: top;
      margin-top: -3px;
    }
  }

  .ola-page-next{
    margin-left: 1em;
    &:after{
      @extend .iconfont;
      content: "navigate_next";
      vertical-align: top;
      margin-top: -3px;
    }
  }