/* Heading */

.ola-search-heading {
  margin: 0;
  border-bottom: 2px solid #e5e5e5;
  padding: 0 0 1rem 0;
  margin: 0 0 1rem 0;
  clear: inherit;
  font-size: $search-heading-font-size;
  min-height: $button-default-height + 20px;

  @include media (tablet) {
    margin-bottom: 1rem;
    min-height: 0;
  }
}

/* title */
.ola-search-heading-title {
  margin-right: 1rem;
}

/* Number */
.ola-search-heading-number {
  font-weight: 300;
  display: block;

  @include media (tablet) {
    display: inline;
  }
}