/* Heading */

.ola-search-heading {
  margin: 0;
  border-bottom: 2px solid #e5e5e5;
  margin-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  @include media (tablet) {
    margin-bottom: 1rem;
  }
}

/* title */
.ola-search-heading-title {
  margin-right: 1rem;
}

/* Number */
.ola-search-heading-number {
  font-weight: 300;  
}